.box {
  border: 3px #cd3c2a solid;
  padding: 20px;
  margin: 20px 50px;
  background: #eae6da;
}

body {
  background-color: #ddddcabb;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}

.item {
  background-color: #325234;
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  width: 200px;
  border-radius: 10px;
}

.flex-container {
  justify-content: center;
  border: 2px black solid;
  display: flex;
}
