.logo {
  max-height: 80px;
}

.list-group-item {
  transition: 0.8s;
}

.list-group-item:hover {
  background-color: #1f9bcf;
  color: white;
}

.card-img-top {
  max-width: 100px;
  max-height: 100px;
  align-content: center;
}
